.table-wrapper {
  margin: 0 auto;

  width: 80%;
  height: 50%;

  background-color: white;

  border-spacing: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.table-row {
  display: flex;

  width: 100%;
}

.table-row > * {
  flex-grow: 1;

  width: 80px;
  height: 30px;

  border: 1px solid black;
}

td[id^='table-'] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 0;

  background-color: white;
}

.table-row:nth-child(n):hover td[id^='table-']:nth-child(n) {
  background-color: #a8a8a8;
}

.available {
  background-color: #4caf50;
}

.unavailable {
  background-color: #d32f2f;
}

.reservation-table-head {
  display: flex;
  position: sticky;
  top: 0;

  width: 100%;
  background-color: white;
  z-index: 1;
}

.reservation-table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  width: 80px;
  height: 30px;

  border: 1px solid black;
}

#reservation-list {
  display: flex;
  flex-direction: column;
}
.reservation-information {
  display: flex;
  align-items: center;
}

.reservation-information > * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
  height: 30px;

  border: 1px solid #afafaf;
}

#cancel-reservation {
  display: flex;

  width: 100%;
}

#cancel-reservation > * {
  width: 100%;
}
